
.login-wrapper {
  position: absolute;
  top: 20px;
  left: 20px; /* Adjust left position as needed */
  z-index: 1000; /* Ensure it's on top of other elements if needed */
}

.btn {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block; 
  margin-top: 15px;
  font-size: 12px;
}
@media(width:730px){
  .btn {
    padding: 10px 20px; /* Adjust padding for better appearance */
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
   margin-left: 40px;
    display: inline-block; /* Ensure it behaves like a block element */
    margin-top: 15px;
  }
  
}

.login-btn {
  background-color: #4682b4;
}

.btn:hover {
  background-color: #ff4500;
}

.login-btn:hover {
  background-color: #4169e1;
}

 
  #slider {
    text-align: center; /* Center align the carousel content */
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.carousel-image {
    height: 100%; /* Ensure images take full height of the carousel item */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; 
    justify-content: center;
}

  
 