<div class="login-wrapper">
    <a routerLink="/login" class="btn login-btn">Login</a>
  </div>
 
  
      
  <section id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/interiorimage.jpg" class="d-block w-50"  alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/interior2.jpg" class="d-block w-50" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/interiorimage2.jpeg" class="d-block w-50" alt="Image 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

