<div class="about-us">
    <h2>About Us</h2>
    <div class="about-content">
      <p>VIZAG INTERIORS is a premier interior design studio based in Vizag, India. With a passion for creating exceptional living and working spaces, we specialize in crafting personalized interiors that reflect our clients' unique lifestyles and tastes.</p>
      <p>At  VIZAG INTERIORS, we believe that great design has the power to transform spaces and enhance lives. Our team of experienced designers and architects works closely with each client to understand their vision and bring it to life through innovative design solutions.</p>
      <p>Whether it's designing a modern residence, renovating a commercial space, or creating a cozy apartment, we are committed to delivering excellence in every project we undertake. From concept to completion, we strive to exceed our clients' expectations and create spaces that inspire and delight.</p>
      <p>At  VIZAG INTERIORS, we blend creativity, functionality, and craftsmanship to create interiors that are both beautiful and functional. With a focus on quality, attention to detail, and customer satisfaction, we are dedicated to making your interior design dreams a reality.</p>
    </div>
  </div>
  