.about-us {
    padding: 20px;
    text-align: center;
  }
  
  .about-content {
    margin-top: 20px;
  }
  
  .about-content p {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .about-content p:last-child {
    margin-bottom: 0;
  }
  
  