.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-google {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #db4437;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .or-divider {
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .or-divider::before,
  .or-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .or-divider span {
    margin: 0 10px;
  }
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  .btn-signup {
    background-color: #28a745;
    color: white;
    margin-top: 1em;
  }
  
  .btn-signup:hover {
    background-color: #218838;
  }
  
  
  