<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Email ID:</label>
      <input type="text" id="username" name="username" [(ngModel)]="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">
      <span *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!showSpinner">Login</span>
    </button>
  </form>
  <div class="or-divider">
    <span>OR</span>
  </div>
  <!-- <button (click)="loginWithGoogle()" class="btn btn-google">Login with Google</button> -->
  <div class="signup-link">
    Don't have an account? <button class="btn btn-signup" (click)="goToSignup()">Sign Up</button>
  </div>
</div>
