<div class="container">
  <a class="logout-link" routerLink="/login">Logout</a>
  <h2>Contact Us</h2>
  <form (ngSubmit)="submitForm()" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" [(ngModel)]="formData.phone">
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" name="message" class="eclipse"[(ngModel)]="formData.message" required></textarea>
    </div>
    <div class="form-group">
      <label>Preferred Contact Method:</label>
      <select name="contactMethod" [(ngModel)]="formData.contactMethod">
        <option value="Email">Email</option>
        <option value="Phone">Phone</option>
      </select>
    </div>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>
</div>
