/* Container for the whole form */
.container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Logout link styling */
.logout-link {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.logout-link:hover {
  background-color: #d32f2f;
}

/* Heading styling */
h2 {
  text-align: center;
  margin-top: 1em;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

form input, form textarea, form select {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
}

form button {
  padding: 0.5em;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[disabled] {
  background-color: #007bff;
  opacity: 0.6;
  cursor: not-allowed;
}

/* Center and justify the text within the textarea */
.eclipse {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
