
<div class="portfolio">
    <h2>Our Portfolio</h2>
    <div class="projects">
      <div class="project">
        <img src="../../assets/images/project1.jpg" alt="Project 1">
        <div class="project-details">
            <h3>Project 1</h3>
            <p>Project 1 is a modern residential interior design project located in a suburban neighborhood of Vizag, India. This project embodies contemporary elegance and sophistication, featuring clean lines, neutral color palettes, and luxurious materials. With an emphasis on maximizing natural light and space, Project 1 creates a harmonious blend of comfort and style. The design seamlessly integrates modern amenities with timeless design elements, resulting in a serene and inviting living environment for its inhabitants.</p>
          </div>
      </div>
      <div class="project">
        <img src="../../assets/images/project2.jpg" alt="Project 2">
        <div class="project-details">
            <h3>Project 2</h3>
            <p>Project 2 is a cozy apartment renovation project located in the heart of Vizag, India. This project focuses on maximizing space and functionality while creating a warm and inviting atmosphere. With its clever use of space-saving solutions, natural materials, and soft color palettes, Project 2 offers a comfortable and stylish living space for its residents.</p>
          </div>
      </div>
    
    </div>
  </div>
  