.portfolio {
    padding: 20px;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project {
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-details {
    padding: 20px;
  }
  
  .project-details h3 {
    margin-bottom: 10px;
  }
  
  .project-details p {
    margin-bottom: 15px;
  }
  