
<div class="background-image"></div>
<h1> VIZAG INTERIORS</h1>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/about-us">About Us</a>
  <a routerLink="/services">Services</a>
  <a routerLink="/contact">Contact</a>

</nav>

<router-outlet></router-outlet>


<router-outlet></router-outlet>
