.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/interior.jpg');
    background-size: cover;
    filter: blur(3px); 
    z-index: -1; 
  }
  h1 {
    text-align: center;
  }

  
   nav {
  margin-top: 30px;
     padding: 1em; 
    display: flex;
    justify-content: center;
    font-size: 13px;
  }
  
  nav a {
    color: rgb(38, 4, 83);
    margin: 0 1em;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  