h2 {
    text-align: center;
    margin-top: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  ul li {
    margin: 0.5em 0;
  }
  
  .services-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
  }
  
  .service-item img {
    width: 100px; 
    height: 100px; 
    border-radius: 70%; 
    margin-bottom: 10px; 
  }
  