<h2>Our Services</h2>
<ul class="services-list">
  <li class="service-item">
    <img src="../../assets/images/bed.jpg" alt="Living Room">
    Residential Interior Design
  </li>
  <li class="service-item">
    <img src="../../assets/images/kitchen.jpg" alt="Kitchen">
    Commercial Interior Design
  </li>
  <li class="service-item">
    <img src="../../assets/images/bed.jpg" alt="Bedroom">
    Space Planning
  </li>
  <li class="service-item">
    <img src="../../assets/images/modern.jpg" alt="Modern Furniture">
    Custom Furniture Design
  </li>
  <li class="service-item">
    <img src="../../assets/images/projectmanagement.jpg" alt="Project Management">
    Project Management
  </li>
</ul>
