<div class="container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required minlength="3" #usernameInput="ngModel">
      <div *ngIf="usernameInput.invalid && usernameInput.touched" class="text-danger">
        <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
        <div *ngIf="usernameInput.errors?.['minlength']">Username must be at least 3 characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required email #emailInput="ngModel">
      <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="mobilenumber">Mobile Number:</label>
      <input type="text" id="mobilenumber" name="mobilenumber" [(ngModel)]="mobilenumber" class="form-control" required pattern="^\d{9}$" #mobilenumberInput="ngModel">
      <div *ngIf="mobilenumberInput.invalid && mobilenumberInput.touched" class="text-danger">
        <div *ngIf="mobilenumberInput.errors?.['required']">Mobile number is required.</div>
        <div *ngIf="mobilenumberInput.errors?.['pattern']">Mobile number must be exactly 9 digits long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required minlength="6" autocomplete="current-password" #passwordInput="ngModel">
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
        <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
        <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
  <div class="login-link">
    Already have an account? <a routerLink="/login">Login</a>
  </div>
</div>
