h1 {
    text-align: center;
    margin-top: 1em;
  }
  
  p {
    text-align: center;
    margin: 1em 2em;
  }

 
.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit:contain;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  .btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  

  
  
  .testimonials {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
  }
  
  .testimonial {
    max-width: 600px;
    margin: 0 auto 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .testimonial p {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .testimonial span {
    font-weight: bold;
  }
  