

<div class="hero">
    <img src="../../assets/images/interior1.jpg" alt="Hero Image">
    <div class="hero-content">
      <h1>Welcome to VIZAG INTERIORS</h1>
      <p>We create stunning interiors tailored to your lifestyle</p>
      <a routerLink="/portfolio" class="btn">View Our Portfolio</a>

    </div>
  </div>
  
  <div class="testimonials">
    <h2>What Our Clients Say</h2>
    <div class="testimonial">
      <img src="../../assets/images/interior2.jpg" alt="Client Avatar">
      <p>" VIZAG INTERIORS transformed my house into a dream home. I highly recommend their services."</p>
      <span>- Sarah Johnson</span>
    </div>
    <div class="testimonial">
      <img src="../../assets/images/interior3.jpg" alt="Client Avatar">
      <p>"Professional, creative, and attentive to detail.  VIZAG INTERIORS exceeded my expectations."</p>
      <span>- John Smith</span>
    </div>
  </div>
  

